

.container {
   text-align: center; 
   display: flex;
   justify-content: space-evenly;
   padding: 5px;
    flex-wrap: wrap;

}

.btn-info {
    margin-top: 7px;
}
.btn-primary {
    margin-left: 6px;
}
.select {
    margin-left: 6px;
}
.video-container {
    margin-top: 10px;
    padding: 10px;
    border-left: 5px solid var(--color-neutral-content);
    }

#timer {
    font-size: 1.5rem;
    font-weight: bolder;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meditationInfo {
    font-size: 1.5rem;
}

.info-container {
    border-left: 5px solid var(--color-neutral-content);
    padding: 10px;
    max-width: 30%;
}